.Enlist-wrap {
    width: 100%;
    /* background-color: white; */
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
}

.stepper-wrap {
    width: 85%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btnpre, .btnnext{
    display: block;
    position: absolute;
    border: none;
    width: 80px;
    height: 40px;
    font-size: 14px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px gray;
    background-color: #183C8C;
    bottom: 40px;
    cursor: pointer;
}

.btnpre:active,.btnnext:active{
    transform: translate(2px,3px);
}

.btnpre{   
    left: 60px;
    background-color: white;
}

.btnnext{
    background-color: #183C8C;
    color: white;
    right: 60px;
}

.btnblock{
    display: none;
}

.stepper-wrap>div {
    width: auto;
    display: inline-block;

    display: flex;
    justify-content: center;
}

.steps-index-active, .steps-index {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin-right: 10px;
    color: white;
    width: 30px;
    height: 30px;
    font-weight: 500;
}

.steps-index{
    background-color: gray;
}

.steps-index-active{
    background-color: #183C8C;
}

hr{
    position: relative;
    width: 235px;
    height: 1px;
    top: 12px;
    background-color: rgb(126, 126, 126);
}

.steps-hr3{
    display: none;
}

.stepper-content{
    position: relative;
    margin-right: 0px;
    margin-left: auto;
    width: 400%;
    height: 85%;
    overflow: scroll;
    transition: 1s;
    overflow: visible;
    padding: 0;
}

.stepper-content-inner{
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    /* padding: 0 30px 0 0px; */
    box-sizing: border-box;
    /* background-color: white; */
}

.content1-wrap{
    width: 100%;
    height: 100%;
    /* background-color: blanchedalmond; */
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    text-align: center;
}

.content1-wrap > div{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

.content1-article{
    width: 20%;
    height: 100%;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.7s;
    -webkit-transition:all 0.7s;
}

.content1-article:hover{
    width: 100%;
}

.content1-banner,.banner-active{
    margin-top: 40px;
    width: 100%;
    height: 100%;
    background-color: gray;
    margin-bottom: 10px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgb(102, 102, 102);
}

.content1-banner::before{
    content: "";
    background-color: black;
    opacity: 0.5;

    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    transition: 0.5s;
}

.content1-banner:hover::before {
    opacity: 0;
}

.content1-article:nth-child(1) > .content1-banner{
    background-image: url("../../public/img/main/banner1.png");
    background-position: right;
}

.content1-article:nth-child(2) > .content1-banner{
    background-image: url("../../public/img/main/banner2.jpg");
}

.content1-article:nth-child(3) > .content1-banner{
    background-image: url("../../public/img/main/banner3.jpg");
}

.content1-article:nth-child(4) > .content1-banner{
    background-image: url("../../public/img/main/banner4.jpg");
}

.content1-selector,.content2-selector,.content3-selector{
    display: inherit;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* content2 */
.content2-wrap{
    width: 100%;
    height: 95%;
    /* background-color: blanchedalmond; */
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.content2-article{
    width: 80%;
    height: 85%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid gray; */
    background-color: white;
    box-shadow: 0px 1px 3px gray;
    overflow-y: auto;
    position: relative;
    top: 30px;
}

.content2-article::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.content2-article::-webkit-scrollbar-thumb {
    background: #183C8C; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.content2-article::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.content2-item{
    border: 2px solid #183C8C;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px gray;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.model-support{
    width: 120px;
    height: 45px;
    background-color: #183C8C;
    color: white;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px gray;
    cursor: pointer;
    position: absolute;
}

.model-support:active{
    color: #183C8C;
    background-color: white;
}



/* content3 */
.content3-wrap{
    width: 100%;
    height: 95%;
    /* background-color: blanchedalmond; */
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.pointTable{
    height: 150px;
    margin-top: 30px;
    box-shadow: 0px 1px 3px gray;
    margin-bottom: 30px;
}

.table-wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0 55px 0;
}

.table{
    /* display: inherit; */
}

.content3-article{
    width: 95%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    overflow-y: auto;
    position: relative;
    overflow: visible;
}

.total{
    position: absolute;
    right: 10px;
    bottom: 10px;
    
}

.content3-title{
    width: 23%;
    height: auto;
    background-color: white;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px gray;
    /* border: 1.5px solid gray; */
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    padding-bottom: 35px;
}

.content3-title::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.content3-title::-webkit-scrollbar-thumb {
    background: #183C8C; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.content3-title::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.content3-Certificate, .content3-Major, .content3-Attendance, .content3-Extrapoint{
    display: bloxk;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border: 1.5px solid gray;
    border-radius: 5px;
}

.content3-certLists, .content3-extralist{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content3-certLists > div{
    width: 85%;
    font-size: 16px;
    margin-top: 5px;
    padding: 8px;
    box-sizing: border-box;
    /* border: 2px solid gray; */
    box-shadow: 0px 1px 3px rgb(173, 173, 173);
    border-radius: 5px;
}

.certdelete{
    font-weight: 500;
    position: absolute;
    right: 10px;
    color: #183C8C;
    cursor: pointer;
}

.content3-extralist{
    width: 85%;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
    /* border: 2px solid gray; */
    box-shadow: 0px 1px 3px rgb(173, 173, 173);
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
}

.content4-wrap{
    width: 100%;
    height: 95%;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.content4-article{
    width: 95%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    background-color: white;
}
