.login-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    height: 100%;
}

.login-img{
    width: 30%;
    height: 100%;

    background-image: url("../../public/img/logo/banner2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: #183C8C;
    display: inline-block;
}

.login-content{
    width: 70%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}

.login-form{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.login-form-logo{
    width: 100%;
    height: 100px;
    background-image: url("../../public/img/logo/Slogan1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.login-form > span{
    font-size: 1em;
    font-weight: 500;
}

.login-form * {
    margin-bottom: 10px;
}

.btnlogin{
    margin-top: 20px;
    height: 50px;
    border: none;
    background-color: #183C8C;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
}

.join{
    position: absolute;
    bottom: 10px;
}