.en-info-container {
    margin: 0px 16px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 16px;
    width: 220px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0.5px 7px #999999;
}

.en-info-header {
    margin-bottom: 10px;
    display: flex;
}

h4 {
    font-size: 18px;
    margin: 0px;
    margin-right: auto;
}

.en-info-edit {
    color: grey;
    font-size: 16px;
    margin-right: 4px;
}

.en-info-content {
    text-align: center;
    border-radius: 10px;
    background-color: lightgray;
    padding: 30px 0;
}