/* html,body{
  width: 100%;
  height: 100%;
} */

div {
  margin: 0;
  padding: 0;
}

ul,li{
  list-style:none;
  padding: 0px;
}

p{
  margin: 0;
  padding: 0;
}

hr{
  margin: 0;
  padding: 0;
  /* box-shadow: none; */
  /* border: 0.1px solid ; */
  border-style: solid;
  border-color: #e9e9e9;
}

body{
  background-color: #f7f7f8;
}

.App {
  font-family: "맑은 고딕";
  height: 100%;
  overflow-x: hidden;
}

.container{
  height: 100%;
  padding: 20px;
  background-color: #f7f7f8;
  /* min-height: 100vh; */
}