/* html,body{
  width: 100%;
  height: 100%;
} */

div {
  margin: 0;
  padding: 0;
}

ul,li{
  list-style:none;
  padding: 0px;
}

#root{
  /* height: 100%; */
}

.App {
  font-family: "맑은 고딕";
  /* width: 100%; */
  height: 100%;
  overflow-x: hidden;
}

.container{
  height: 100%;
  padding: 20px;
  background-color: #f7f7f8;
}