@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: Noto Sans KR;
  src: url("../public/fonts/NotoSansKR-Thin.woff") format("woff");
  src: url("../public/fonts/NotoSansKR-Regular.woff") format("woff");
  src: url("../public/fonts/NotoSansKR-Medium.woff") format("woff");
  src: url("../public/fonts/NotoSansKR-Light.woff") format("woff");
  src: url("../public/fonts/NotoSansKR-Bold.woff") format("woff");
  src: url("../public/fonts/NotoSansKR-Black.woff") format("woff");
}

*{
  font-family: 'Noto Sans KR', sans-serif;
}

html,body{
  height: 100%;
}

body{
  min-height: 100vh;
}

ul,li{
  list-style:none;
  padding: 0px;
}
